.number-container {
  display: flex;
  flex-wrap: wrap;
}
.number {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
  line-height: 50px;
}
.even {
  background-color: lightgreen;
}
.odd {
  background-color: yellow;
}
.prime {
  background-color: red;
}